.card-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-game > .card {
  margin: 10px 0px;
  background: #fff;
  width: 320px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
}

.card-game .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid gray;
  margin-right: 20px;
}

.card-game .content {
  flex: 1
}

.card-game .title {
  margin: 0;
  font: 800 1rem 'Arial';
  margin-bottom: 10px;

}

.card-game .subTitle {
  font: 600 1rem 'Arial';
  color: gray;
}